﻿@model SistemaRestaurante.BusinessEntity.Local

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Local</legend>

   @Html.HiddenFor(model=>model.IdLocal)

    <div class="display-label">Nombre</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">Distrito</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Distrito)
    </div>

    <div class="display-label">Direccion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Direccion)
    </div>

    <div class="display-label">Telefono</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telefono)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { idLocal=Model.IdLocal }) |
    @Html.ActionLink("Back to List", "Index")
</p>
