﻿@model SistemaRestaurante.BusinessEntity.Producto

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Producto</legend>

    <div class="display-label">IdProducto</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IdProducto)
    </div>

    <div class="display-label">Nombre</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">Descripcion</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Descripcion)
    </div>

    <div class="display-label">Imagen</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Imagen)
        <img src=@Model.Imagen style="width: 100px"/>
    </div>

    <div class="display-label">IdCategoria</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NombreCategoria)
    </div>

    <div class="display-label">Precio</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Precio)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
