﻿@model SistemaRestaurante.BusinessEntity.DetallePedido

<div id="loadingPost" style="display: none;"> Procesando Solicitud! ...</div>

@using (Ajax.BeginForm("CreateDetalle", "Pedido", new AjaxOptions
                                                 {
                                                     HttpMethod = "POST",
                                                     InsertionMode = InsertionMode.Replace,
                                                     UpdateTargetId = "listado",
                                                     LoadingElementId = "loadingPost",
                                                     OnComplete = "OnComplete"
                                                 }))
    {
    <fieldset>
        <legend>DetallePedido</legend>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.IdProducto)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.IdProducto, new SelectList(Model.Productos, "IdProducto","Nombre", Model.IdProducto))
            @Html.ValidationMessageFor(model => model.IdProducto)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Cantidad)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cantidad)
            @Html.ValidationMessageFor(model => model.Cantidad)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Precio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Precio)
            @Html.ValidationMessageFor(model => model.Precio)
        </div>
       
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<script type="text/javascript">
    function OnComplete() {
        $("#informacion").hide();
    }
</script>